/* General Styles */
body {
    background: -webkit-linear-gradient(0deg, #121212,#070906,#03229b);/* Chrome 10-25, Safari 5.1-6 */    
    background: linear-gradient(0deg, #121212,#070906,#03229b);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
    
}                                 
.container, .footer-container {
    margin: 20px auto;
    max-width: 1000px;
}

/* Navbar */
.navbar {
    border-bottom: 1px solid #ddd;
    background-color: white;

}

.navbar-brand img {
    width: 70px;
    height: auto;
}
.nav-link {
    font-weight: 500;
    color: rgb(2, 8, 37)!important;
    transition: color 0.3s;
}
.nav-link:hover {
    color: rgb(0, 21, 138);
}

/* Section Titles */
h1, h2 {
    color: #d3c9c9;
    font-weight: 600;
    margin: 20px 0 10px;
}

p {
    font-size: 1em;   
    margin-bottom: 20px;
    text-transform: uppercase;
  
}

/* Academic Offering Section */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.15em;
    font-weight: bold;
    color:#060497;
}

.card-text {
    font-size: medium;
    line-height: 1.2; /* Ajusta el valor según la separación deseada entre líneas */
    margin-bottom: 0.5rem; /* Ajusta el margen inferior entre párrafos */
 
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #ebeef0;
    color: rgb(2, 6, 8);
}

.footer-container .informacion,
.footer-container .direccion {
   
    flex: 1;
    margin: 10px;
}

.footer-container h5 {
    font-size: 1.1em;
   
  
}


a.text-dark {
  
    text-decoration: none;
}
a.text-dark:hover {
    text-decoration: underline;
}

.info {
   
    padding: 40px 20px; 
    max-width: 800px; 
    margin: 30px auto; 
   
    text-align: center;
    
}

.info h1, .info h2 {
   
    font-weight: bold;
    margin-bottom: 15px;
}


.info p {
    
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify; 
}
.informacion, .direccion {
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color:#d3c9c9;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}
h3 {
    margin-top: 20px;
    color:#d3c9c9;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #d3c9c9;
}
input[type="radio"] {
    margin-right: 10px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}